<ion-content >

  <img src="../../assets/imagecover.webp" >
  <div class="divcolor">
    <h1 class="titlecolour">This Is Event In The World</h1>
    <h1 class="titlecolour">Check out what’s on in the World, stay up to date with the latest</h1>
    <h1 class="titlecolour">events and read our guides to nightlife, theatre, festivals and more all around the World.</h1>

    <h3>Sort By:</h3>
          <!--routing buttons-->
          <ion-button id="sortbybutton" [routerLink]="['/home']">Home</ion-button>
          <ion-button id="sortbybutton" [routerLink]="['/germany']">germany</ion-button>
          <ion-button id="sortbybutton" [routerLink]="['/portugal']">portugal</ion-button>
          <ion-button id="sortbybutton" [routerLink]="['/austria']" >austria</ion-button>
          <ion-button id="sortbybutton" [routerLink]="['/wishlist']">Wishlist</ion-button>
      <p>Sorted by : Germany</p>
      <p id="fav">Enter you favouriate event you have been too</p>
      <p id="fav"><input [(ngModel)] = "name"></p>
      <h1 id="fav"><ion-icon name="heart-circle-outline" size="large" ></ion-icon>
        {{name}}<ion-icon name="heart-circle-outline" size="large"></ion-icon></h1>
        <h1 id="fav">Every Week there are new events going on around the world so you can and see all the new events that are going on in the world</h1>
      </div>
      <ion-list>
        <ion-radio-group [(ngModel)]="status">
          <!-- Loop only through germany events -->
          <ion-item *ngFor="let event of germanyEvents; let i = index">
            <ion-label class="labalcolor">
              <h1>{{ event.nameParty }}</h1>
              <p>Location: {{ event.nameCountry }}</p>
              <p>Start Date: {{ event.dateStart }}</p>
              <p>End Date: {{ event.dateEnd }}</p>
            </ion-label>
            <ion-radio [value]="'event' + i" slot="end"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      
    <div class="divcolor">
        <!--button to add to wishlist-->
    <ion-button (click)="onButtonClick()">ADD TO WISHLIST</ion-button>
    <h1>Take your event pictures and make sure to send it to us here on our socials!!</h1>
          <!--soical links-->
          <p id="fav"><ion-icon name="logo-instagram" size="large"></ion-icon><a href="https://www.instagram.com/">Instagram</a></p>
          <p id="fav"><ion-icon name="logo-facebook" size="large"></ion-icon><a href="https://www.facebook.com/">Facebook</a></p>
          <p id="fav"><ion-icon name="logo-snapchat" size="large"></ion-icon><a href="https://www.snapchat.com/">Snapchat</a></p>
        
    <p>Click here to follow and share!!</p>
          <!--pop up button-->
    <ion-button id="open-action-sheet">Follow & Share</ion-button>
  <ion-action-sheet trigger="open-action-sheet" header="Actions" [buttons]="actionSheetButtons"></ion-action-sheet>
  </div>
  </ion-content>
  
  