

.titlecolour {
  color: purple;
  text-align: center;
}


#sortbybutton {
  margin-right: 10%;
  
}



#logo {
  margin-right: 30%;

}


ion-icon {
  color: red;
}

#fav {
  text-align: center;
  
}